$background: rgba(6, 1, 18, 0.996);
$secbg: rgba(43, 50, 52, 0.584);
$primary: rgb(236, 42, 132);
$secondary: rgb(30, 175, 215);
$heading: rgb(0, 255, 234);
$title: rgb(255, 65, 65);
$buttons: rgb(94, 97, 129);
$projtitle: rgb(255, 162, 0);


@bodytemp: body{
    height:100px;
};